* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-size: 62.5%;

    --ff-geral: 'Roboto', sans-serif;
    --text-geral: #C4C4CC;
    --test-button: #02799D;
}

body {

    font-family: var(--ff-geral);
    font-size: 1.6rem;

    /*background-image: url(/img/mountains-universe-1.png);*/
    background-size: 100vw 100vh;
    

    color: #ffffff;


}

nav {
    display: flex;
    align-items: center;
    margin-left: 7.2rem;
    height: 12.2rem;

}

ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    margin-left: 5rem;
}

ul li {
    line-height: 60px;
    font-size: 2.4rem;
}

li a:hover {
    font-weight: bold;
    color: #ffffff;

}

ul a {
    text-decoration: none;
    color: var(--text-geral);

}




main {
    padding-top: 6.3rem;
    padding-left: 10.2rem;
}

main #page-home {
    margin-left: -10.2rem;
    display: flex;
    flex-direction: column;
    padding-top: 10.9rem;
    align-items: center;

}

main h1 {
    font-size: 4.8rem;
    width: 39.9rem;
    color: #ffffff;
}

main p {
    font-size: 1.8rem;
    line-height: 160%;
}

main a {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2.4rem auto;
    font-size: 1.4rem;
    border: solid #ffffff;
    border-radius: .5rem;
    width: 19.5rem;
    height: 4.8rem;

    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: .3s;


}

main a:hover {
    background-color: #ffffff;
    color: var(--test-button)
}


main p {
    width: 64.8rem;
    height: 20.3rem;
    margin-top: 1.4rem;
}